node_modules
logs
*.log
.env*
Dockerfile*
docker-compose*.yml
infra/
!infra/prod/Dockerfile_backend
!infra/prod/Dockerfile_nginx
!infra/prod/nginx/
!infra/prod/ssl/
frontend/dev/
!frontend/
.git
.gitignore
README.md
frontend/public/uploads/ 